<div class="modal-header">
  <h4 class="modal-title">Upload Image</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-lg-6 m-dropzone dropzone m-dropzone--dark border">
      <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="4 / 4" [resizeToWidth]="164"
        format="jpg" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()" (loadImageFailed)="loadImageFailed()"
        style="max-height: 60vh" [style.display]="cropperReady ? null : 'none'">
      </image-cropper>
    </div>
    <div class="col-lg-6 m-dropzone dropzone m-dropzone--dark">
      <img [src]="croppedImage">
    </div>
  </div>
</div>
<div class="custom-file">
  <input type="file" class=" custom-file-input" id="file" (change)="fileChangeEvent($event)" accept="image/gif, image/jpeg">
  <label class="custom-file-label" for="file">
    Choose file
  </label>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="onSubmit()">Save</button>
</div>