<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark 
m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">
  <div class="m-grid__item m-grid__item--fluid m-wrapper mb-5">
    <!-- BEGIN: Subheader -->
    <div class="m-subheader">
      <div class="d-flex align-items-center">
        <div class="mr-auto">
          <h3 class="m-subheader__title m-subheader__title--separator">
            Add Product
          </h3>
          <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
            <li class="m-nav__item m-nav__item--home">
              <a href="#" class="m-nav__link m-nav__link--icon">
                <i class="m-nav__link-icon la la-home"></i>
              </a>
            </li>
            <li class="m-nav__separator">
              -
            </li>
            <li class="m-nav__item">
              <a href="" class="m-nav__link">
                <span class="m-nav__link-text">
                  Add
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="m-content pt-0 mt-0">
    <!--begin::Portlet-->
    <div class="m-portlet">
      <div class="m-portlet__body mt-0">
        <!--begin::Form-->
        <div class="row">
          <div class="col col-lg-6">
            <form class="m-form" [formGroup]="productForm">
              <div class="form-group m-form__group">
                <label for=""> Name of Product </label>
                <input formControlName="productName" type="text" class="form-control m-input m-input--air m-input--pill" placeholder="Enter Product...."
                  id="name" required>
                <div *ngIf="productForm.controls['productName'].touched" class="text-danger">
                  <small *ngIf="productForm.controls['productName'].hasError('required')">Product Name is required</small>
                </div>
              </div>
              <div class="form-group m-form__group">
                <label for=""> Product ID </label>
                <input formControlName="productId" type="" class="form-control m-input m-input--air m-input--pill" id="" placeholder="Enter Product ID....">
                <div *ngIf="productForm.controls['productId'].touched" class="text-danger">
                  <small *ngIf="productForm.controls['productId'].hasError('required')">Product Id is required</small>
                </div>
              </div>
              <div class="form-group m-form__group">
                <label for="SelectCategory"> Category </label>
                <select formControlName="category" class="form-control m-input m-input--air m-input--pill" id="SelectCategory">
                  <option disabled> Select Category </option>
                  <option> CatA </option>
                  <option> CatB </option>
                  <option> CatC </option>
                  <option> CatD </option>
                </select>
                <div *ngIf="productForm.controls['category'].touched" class="text-danger">
                  <small *ngIf="productForm.controls['category'].hasError('required')">Select a Category</small>
                </div>
              </div>
              <div class="form-group m-form__group">
                <label for=""> Unit Price </label>
                <div class="input-group">
                  <input formControlName="price" type="text" class="form-control m-input m-input--air m-input--pill" aria-describedby="" placeholder="Enter Unit Price"
                    id="number">
                </div>
                <div *ngIf="productForm.controls['price'].touched" class="text-danger">
                  <small *ngIf="productForm.controls['price'].hasError('required')">Price is required</small>
                </div>
              </div>
              <div class="form-group m-form__group">
                <label for="Description"> Description </label>
                <textarea formControlName="description" class="form-control m-input m-input--air m-input--pill" id="Description" rows="4"></textarea>
              </div>
              <div class="m-portlet__foot m-portlet__foot--fit ">
                <div class="m-form__actions">
                  <button (click)="submit()" [disabled]="productForm.invalid" type="submit" class="btn btn-dark"> Add </button>
                  <button type="reset" class="btn btn-secondary"> Cancel </button>
                </div>
              </div>
            </form>
            <!--end::Form-->
          </div>
          <div class="col col-lg-6">
            <div class="form-group m-form__group">
              <div class="col-lg-4 col-md-9 px-2 col-sm-12 d-flex justify-content-center align-items-center">
                <div class="m-dropzone dropzone m-dropzone--dark" (click)="openImgUpload()" data-toggle="m-tooltip" title="Click to upload image" style="width:300px">
                  <img [src]="productImageUpload" onError="this.src='http://placehold.it/250';">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end::Portlet-->
</body>

<app-imageupload (productImage)="uploadImage($event)"></app-imageupload>