<div class="p-3">



  <div class="ui-row">
    <div class="col-xl-lg">
      <!--begin:: Widgets/Support Tickets -->
      <div class="m-portlet m-portlet--full-height ">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                Product Details
              </h3>
            </div>
          </div>
        </div>

        <div class="m-portlet__body">
          <div class="m-widget3">
            <div class="m-widget3__item">
              <div class="m-widget3__header">
                <div class="m-widget3__user-img">
                  <img class="m-widget5__img-width" src="../../assets/app/media/img/users/user1.jpg" style="width:200px">
                </div>

                <div class="m-widget3__info">
                  <span class="m-widget3__title">
                    <h5>Product Name </h5>
                  </span>

                  <h6>
                    <span class="m-widget3__time">

                      ProductID
                    </span>
                    <span class="m-widget3__time">
                      Category
                    </span>
                    <span class="m-widget3__time">
                      Unit Price
                    </span>
                  </h6>
                  <span>
                    <p class="m-widget3__text">
                      Lorem ipsum dolor sit amet,consectetuer edipiscing elit,sed diam nonummy nibh euismod tinciduntut laoreet doloremagna aliquam
                      erat volutpat.
                    </p>
                  </span>



                </div>

              </div>


            </div>

          </div>
        </div>

      </div>