<!-- <div class="col-lg">
  <div class="p-3">

    <body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">


      <div class="m-grid m-grid--hor m-grid--root m-page">
        <div class="m-container m-container--fluid m-container--full-height">
          <div class="m-stack m-stack--ver m-stack--desktop">
            <div class="m-grid__item m-grid__item--fluid m-wrapper">
            
              <div class="m-subheader ">
                <div class="d-flex align-items-center">
                  <div class="mr-auto">
                    <h1 class="m-subheader__title m-subheader__title--separator">
                      Product Details
                    </h1>
                    <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                      <li class="m-nav__item m-nav__item--home">
                        <a href="#" class="m-nav__link m-nav__link--icon">
                          <i class="m-nav__link-icon la la-home"></i>
                        </a>
                      </li>

                    </ul>
                  </div>
                </div>

              </div>

              <div class="m-portlet__body">
                <div class="m-widget3">
                  <div class="m-widget3__item">
                    <div class="m-widget3__header">
                      <div class="m-widget3__user-img">
                        <img class="m-widget5__img-width" src="../../assets/app/media/img/users/user1.jpg" style="width:200px">
                      </div>

                      <div class="m-widget3__info">
                        <span class="m-widget3__title">
                          <h5>Product Name </h5>
                        </span>

                        <h6>
                          <span class="m-widget3__time">

                            ProductID
                          </span>
                          <span class="m-widget3__time">
                            Category
                          </span>
                          <span class="m-widget3__time">
                            Unit Price
                          </span>
                        </h6>
                        <span>
                          <p class="m-widget3__text">
                            Lorem ipsum dolor sit amet,consectetuer edipiscing elit,sed diam nonummy nibh euismod tinciduntut laoreet doloremagna aliquam
                            erat volutpat.
                          </p>
                        </span>
                      </div>




                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>











    </body>
  </div>
</div> -->



<div class="m-content">
  <div class="row">
    <div class="col-xl-6">
      <!--begin::Portlet-->
      <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__body">
          <div class="m-grid m-grid--hor m-grid--root m-page">
            <div class="m-container m-container--fluid m-container--full-height">
              <div class="m-stack m-stack--ver m-stack--desktop">
                <div class="m-grid__item m-grid__item--fluid m-wrapper">

                  <div class="m-subheader ">
                    <div class="d-flex align-items-center">
                      <div class="mr-auto">
                        <h1 class="m-subheader__title m-subheader__title--separator">
                          Product Details
                        </h1>
                        <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                          <li class="m-nav__item m-nav__item--home">
                            <a href="#" class="m-nav__link m-nav__link--icon">
                              <i class="m-nav__link-icon la la-home"></i>
                            </a>
                          </li>

                        </ul>
                      </div>
                    </div>

                  </div>

                  <div class="m-portlet__body">
                    <div class="m-widget3">
                      <div class="m-widget3__item">
                        <div class="m-widget3__header">
                          <div class="m-widget3__user-img">
                            <img class="m-widget5__img-width" src="../../assets/app/media/img/users/user1.jpg" style="width:200px">
                          </div>

                          <div class="m-widget3__info">
                            <span class="m-widget3__title">
                              <h5>Product Name </h5>
                            </span>

                            <h6>
                              <span class="m-widget3__time">

                                ProductID
                              </span>
                              <span class="m-widget3__time">
                                Category
                              </span>
                              <span class="m-widget3__time">
                                Unit Price
                              </span>
                            </h6>
                            <span>
                              <p class="m-widget3__text">
                                Lorem ipsum dolor sit amet,consectetuer edipiscing elit,sed diam nonummy nibh euismod tinciduntut laoreet doloremagna aliquam
                                erat volutpat.
                              </p>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>