<div class="p-3">

  <!--begin:: Widgets/Best Sellers-->
  <div class="m-portlet m-portlet--full-height ">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">
            Product List
          </h3>
        </div>
      </div>
      <div class="m-portlet__head-tools">
        <ul class="nav nav-pills nav-pills--brand m-nav-pills--align-right m-nav-pills--btn-pill m-nav-pills--btn-sm" role="tablist">
          <li class="nav-item m-tabs__item">
            <button type="button" class="btn m-btn--pill m-btn--air btn-outline-metal">
              Add product
            </button>
          </li>
          <li class="nav-item m-tabs__item">
            <div class="m-stack__item m-stack__item--middle m-dropdown m-dropdown--arrow m-dropdown--large m-dropdown--mobile-full-width 
              m-dropdown--align-right m-dropdown--skin-light m-header-search m-header-search--expandable m-header-search--skin-light"
              id="m_quicksearch" data-search-type="default">
              <!--BEGIN: Search Form -->
              <form class="m-header-search__form">
                <div class="m-header-search__wrapper">
                  <span class="m-header-search__icon-search" id="m_quicksearch_search">
                    <i class="flaticon-search"></i>
                  </span>
                  <span class="m-header-search__input-wrapper">
                    <input autocomplete="off" type="text" name="q" class="m-header-search__input" value="" placeholder="product..." id="m_quicksearch_input">
                  </span>
                  <span class="m-header-search__icon-close" id="m_quicksearch_close">
                    <i class="la la-remove"></i>
                  </span>
                  <span class="m-header-search__icon-cancel" id="m_quicksearch_cancel">
                    <i class="la la-remove"></i>
                  </span>
                </div>
              </form>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-lg-3 col-md-6 col-sm-12" *ngFor="let product of list">
      <div class="m-portlet m-portlet--full-height ">
        <div class="m-portlet__body">
          <!--begin::Content-->
          <div class="tab-pane" id="m_widget5_tab2_content" aria-expanded="false">
            <!--begin::m-widget5-->
            <div class="m-widget5">
              <div class="m-widget5__item">
                <div class="m-widget5__pic">
                  <img class="m-widget7__img" [src]="product.image" alt="">
                </div>
                <div class="m-widget5__content">
                  <h3 class="m-widget5__title">
                    {{product.productName | uppercase}}
                  </h3>
                  <span class="m-widget5__desc">
                    {{product.productId}}
                  </span>
                  <div class="m-widget5__info">
                    <h6 class="m-widget5__author">
                      {{product.category}}
                    </h6>
                    <span class="m-widget5__price">
                      {{product.price}}
                    </span>
                    <!--end::Content-->
                  </div>
                </div>
                <!--end:: Widgets/Best Sellers-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center pagination-lg">
    <ngb-pagination [collectionSize]="totalProducts" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
  </div>
</div>