<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">
  <!-- begin:: Page -->
  <div class="m-grid m-grid--hor m-grid--root m-page">
    <div class="m-container m-container--fluid m-container--full-height">
      <div class="m-stack m-stack--ver m-stack--desktop">
        <!--begin:: Widgets/Best Sellers-->
        <div class="m-grid__item m-grid__item--fluid m-wrapper">
          <!-- BEGIN: Subheader -->
          <div class="m-subheader ">
            <div class="d-flex align-items-center">
              <div class="mr-auto">
                <h3 class="m-subheader__title m-subheader__title--separator">
                  Product List
                </h3>
              </div>
              <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item">
                  <a [routerLink]="['/product/add']" class="m-nav__link m-nav__link--icon">
                    <button type="button" class="btn m-btn--pill m-btn--air btn-outline-metal">
                      Add product
                    </button>
                  </a>
                </li>
                <li class="m-nav__item">
                  <div class="m-stack__item m-stack__item--middle m-dropdown m-dropdown--arrow m-dropdown--large m-dropdown--mobile-full-width 
                    m-dropdown--align-right m-dropdown--skin-light m-header-search m-header-search--expandable m-header-search--skin-light"
                    id="m_quicksearch" data-search-type="default">
                    <!--BEGIN: Search Form -->
                    <form class="m-header-search__form">
                      <div class="m-header-search__wrapper">
                        <span class="m-header-search__icon-search" id="m_quicksearch_search">
                          <i class="flaticon-search"></i>
                        </span>
                        <span class="m-header-search__input-wrapper">
                          <input [(ngModel)]="query" autocomplete="off" type="text" name="q" class="m-header-search__input" value="" placeholder="product..."
                            id="m_quicksearch_input">
                        </span>
                        <span class="m-header-search__icon-close" id="m_quicksearch_close">
                          <i class="la la-remove"></i>
                        </span>
                        <span class="m-header-search__icon-cancel" id="m_quicksearch_cancel">
                          <i class="la la-remove"></i>
                        </span>
                      </div>
                    </form>
                  </div>
                </li>
                <li class=" m-nav__item">
                  <select [(ngModel)]="cat" class="form-control" id="m_notify_icon">
                    <option value="">All categories</option>
                    <option value="{{c}}" *ngFor="let c of categories">{{c}}</option>
                  </select>
                </li>
              </ul>
            </div>
          </div>
          <div class="m-content">
            <!--begin:: Widgets/Stats-->
            <div class="m-portlet">
              <div class="m-portlet__body m-portlet__body--no-padding">
                <div class="row m-row--no-padding m-row--col-separator-xl">
                  <div class="col-md-12 col-lg-12 col-xl-3 p-3" *ngFor="let product of totalProducts | filter : query : cat ">
                    <!--begin::Content-->
                    <!--begin::m-widget5-->
                    <div class="m-widget5">
                      <div class="m-widget5__item p-2 m-1">
                        <div class="row m-row--no-padding align-items-center">
                          <div class="col">
                            <div class="m-widget5__pic">
                              <img class="m-widget7__img" [src]="product.image" alt="">
                            </div>
                            <div class="m-widget5__content">
                              <a class="text-light" [routerLink]="['/product/detail', product.id]">
                                <h3 class="m-widget1__title text-dark">
                                  {{product.productName | uppercase}}
                                </h3>
                              </a>
                              <p class="m-widget5__desc">
                                {{product.productId}}
                              </p>
                              <h6 class="m-widget5__author m-widget5__info">
                                {{product.category}}
                              </h6>
                              <span class="m-widget5__price">
                                {{product.price}}
                              </span>
                              <!--end::Content-->

                            </div>
                            <!--end:: Widgets/Best Sellers-->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center pagination-lg">
            <ngb-pagination [collectionSize]="totalProducts" [(page)]="currentPage" [pageSize]="itemsPerPage" (pageChange)="loadPage($event)"
              aria-label="Default pagination"></ngb-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>